@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&family=Questrial&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #000;
  line-height: 1;
  font-size: 16px;
  color: inherit;
  scroll-behavior: smooth;
}

input,
textarea,
select,
table,
button,
code {
  font-family: inherit;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button {
  color: #000;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  margin: -1px;
}

body {
  min-width: 320px;
  font-family: 'Questrial', 'Noto Sans KR', sans-serif;
  letter-spacing: -0.05em;
}

body.hide {
  overflow: hidden;
}

.inr {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 8%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .inr {
    padding: 0 4%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 100;
  transition: 0.5s ease;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header.hide {
  top: -80px;
}

@media (max-width: 767px) {
  .header.hide {
    top: -60px;
  }
}

.header .inr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.logo_link {
  display: block;
}

.logo_link::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/logo/logo.svg) no-repeat center;
}

@media (max-width: 1023px) {
  .navi {
    display: none;
  }
}

.navi_list {
  display: flex;
}

.navi .item {
  margin: 0 20px;
}

.navi .item_link {
  display: block;
  padding: 5px 0;
  font-size: 21px;
  line-height: 27px;
  transition: 0.3s ease;
}

.navi .item_link:hover {
  color: #ee265c;
}

.btn_open-menu {
  position: relative;
  width: 60px;
  height: 60px;
}

.btn_open-menu .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 2px;
  background: #000;
}

.btn_open-menu .line:nth-child(1) {
  margin-top: -8px;
}

.btn_open-menu .line:nth-child(3) {
  margin-top: 8px;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 360px;
  height: 100%;
  background: #fff;
  z-index: 999;
  transition: 0.5s ease-in-out;
}

.menu.on {
  visibility: visible;
  right: 0;
}

.menu_bg {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 998;
  transition: 0.5s ease-in-out;
}

.menu_bg.on {
  opacity: 1;
  visibility: visible;
}

.gnb {
  padding: 80px 20px 20px;
}

.gnb_list-02 {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.gnb .item_link {
  display: block;
  padding: 5px 0;
  font-size: 21px;
  line-height: 27px;
  transition: 0.3s ease;
}

.gnb .item_link:hover {
  color: #ee265c;
}

.gnb_list-01 .item_link {
  font-weight: bold;
}

.link-home {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.link-home::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/logo/logo.svg) no-repeat center;
}

.btn_close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
}

.btn_close-menu .line {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: #000;
}

.btn_close-menu .line:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn_close-menu .line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
  padding: 50px 0 20px;
  background: #333;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
}

.f_gnb_list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .f_gnb_list {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .f_gnb_item + .f_gnb_item {
    margin-top: 10px;
  }
}

.f_gnb_link {
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 5px;
  transition: 0.3s ease;
}

.f_gnb_link:hover {
  color: #ee265c;
}

.copy {
  margin-top: 100px;
  color: #6e6e6e;
  font-size: 14px;
  text-align: right;
}

@media (max-width: 767px) {
  .copy {
    margin-top: 50px;
  }
}

.intro {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 100vh;
  padding: 80px 2% 40px;
}

@media (max-width: 767px) {
  .intro {
    padding-top: 260px;
  }
}

.intro::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent 0%, #fff 100%);
}

.intro_text {
  position: relative;
  margin-top: auto;
  z-index: 1;
}

.intro_title {
  position: relative;
  color: #000;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  z-index: 1;
  user-select: none;
}

@media (max-width: 1023px) {
  .intro_title {
    font-size: 8vw;
  }
}

@media (max-width: 599px) {
  .intro_title {
    font-size: 9vw;
  }
}

.intro_bg {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1.6) rotate(-15deg);
  pointer-events: none;
}

.intro_col-box {
  width: 20%;
  height: 25%;
  padding: 10px;
  transition: padding 0.5s ease;
}

@media (max-width: 767px) {
  .intro_col-box {
    padding: 5px;
  }
}

.intro_col {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #eceef0;
}

.intro_col img {
  opacity: 0.8;
  max-width: 100%;
  max-height: 100%;
}

.goods {
  margin-top: 100px;
  padding-top: 100px;
}

.goods_title {
  padding-bottom: 20px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 5vw;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .goods_title {
    font-size: 10vw;
  }
}

@media (max-width: 767px) {
  .goods_title {
    font-size: 10vw;
  }
}

.goods_list {
  display: flex;
  flex-wrap: wrap;
}

.goods .item {
  width: 20%;
  padding: 20px 0px 20px 30px;
}

.goods .item:nth-child(-n + 3) {
  width: 33.3333%;
}

.goods .item:nth-child(-n + 3) .item_link {
  padding-bottom: 42%;
}

@media (max-width: 1279px) {
  .goods .item {
    width: 25%;
  }
}

@media (max-width: 1023px) {
  .goods .item {
    width: 33.3333%;
  }
  .goods .item:nth-child(-n + 3) .item_link {
    padding-bottom: 100%;
  }
}

@media (max-width: 767px) {
  .goods .item {
    width: 50%;
  }
  .goods .item:nth-child(-n + 3) {
    width: 100%;
  }
  .goods .item:nth-child(-n + 3) .item_link {
    padding-bottom: 30%;
  }
}

@media (max-width: 480px) {
  .goods .item {
    width: 100%;
  }
  .goods .item:nth-child(-n + 3) .item_link {
    padding-bottom: 100%;
  }
}

.goods .item_link {
  display: block;
  position: relative;
  padding-bottom: 75%;
  background: #eceef0;
}

@media (max-width: 1023px) {
  .goods .item_link {
    padding-bottom: 100%;
  }
}

@media (max-width: 767px) {
  .goods .item_link {
    padding-bottom: 65%;
  }
}

@media (max-width: 480px) {
  .goods .item_link {
    padding-bottom: 100%;
  }
}

.goods .item_tag {
  position: absolute;
  top: 0;
  right: 100%;
  line-height: 20px;
  letter-spacing: 0.05em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.goods .item_figure {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.goods .item_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  object-fit: cover;
}

.goods .item_word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 8vw;
  font-weight: bold;
}

@media (max-width: 767px) {
  .goods .item_word {
    font-size: 30vw;
  }
}

.goods .item_overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: 0.3s ease;
}

.goods .item_overlay::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.goods .item_text {
  display: inline-block;
  vertical-align: middle;
}

.goods .item_name {
  display: block;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  color: #ee265c;
  font-size: 4vw;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .goods .item_name {
    font-size: 10vw;
  }
}

@media (max-width: 767px) {
  .goods .item_name {
    font-size: 15vw;
  }
}

@media (max-width: 480px) {
  .goods .item_name {
    font-size: 25vw;
  }
}

.goods .item_more-box {
  overflow: hidden;
}

.goods .item_more {
  display: block;
  color: #ee265c;
  font-size: 21px;
  letter-spacing: 0.2em;
  transform: translateY(100%);
  transition: 0.3s ease 0.1s;
}

.goods .item_link:hover .item_overlay {
  opacity: 1;
  visibility: visible;
}

.goods .item_link:hover .item_more {
  transform: translateY(0%);
}

.adiclub {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .adiclub {
    display: block;
    height: auto;
  }
}

.adiclub_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .adiclub_text {
    flex-direction: column;
  }
}

.adiclub_title {
  display: block;
  position: relative;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-size: 10vw;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 767px) {
  .adiclub_title {
    font-size: 36px;
  }
}

.adiclub_title span {
  color: #ee265c;
  font-weight: bold;
}

.adiclub_desc {
  display: none;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  word-break: keep-all;
}

@media (max-width: 767px) {
  .adiclub_desc {
    display: block;
  }
}

@media (max-width: 767px) {
  .adiclub_words {
    padding: 30px 0 90px;
  }
}

.adiclub_word {
  position: absolute;
  transform-style: preserve-3d;
  perspective: 500px;
  text-align: center;
}

@media (max-width: 767px) {
  .adiclub_word {
    position: static;
    padding: 40px 10px;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

.adiclub_word .front {
  display: block;
  transform-origin: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.3s ease-in;
}

@media (max-width: 767px) {
  .adiclub_word .front {
    margin-bottom: 20px;
    font-size: 8vw !important;
  }
}

.adiclub_word .back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 100%;
  background: #fff;
  font-size: 21px;
  line-height: 1.2;
  word-break: keep-all;
  transform: translate(-50%, -50%) rotateY(180deg);
  transform-origin: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.3s ease-in;
}

@media (max-width: 1023px) {
  .adiclub_word .back {
    width: 250px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .adiclub_word .back {
    display: block;
    position: static;
    width: auto;
    height: 100%;
    background: transparent;
    font-size: 14px;
    transform: translate(0, 0) rotateY(0);
  }
}

.adiclub_word:hover .front {
  transform: rotateY(180deg);
}

@media (max-width: 767px) {
  .adiclub_word:hover .front {
    transform: rotateY(0);
  }
}

.adiclub_word:hover .back {
  transform: translate(-50%, -50%) rotateY(360deg);
}

@media (max-width: 767px) {
  .adiclub_word:hover .back {
    transform: translate(0, 0) rotateY(0);
  }
}

.adiclub_word span {
  display: block;
  font-weight: bold;
}

.adiclub_word.a1 {
  top: 15%;
  left: 4%;
}

.adiclub_word.a1 .front {
  font-size: 50px;
}

@media (max-width: 1023px) {
  .adiclub_word.a1 .front {
    font-size: 4vw;
  }
}

.adiclub_word.a2 {
  top: 33%;
  left: 30%;
}

.adiclub_word.a2 .front {
  font-size: 27px;
}

@media (max-width: 1023px) {
  .adiclub_word.a2 .front {
    font-size: 2.5vw;
  }
}

.adiclub_word.a3 {
  top: 18%;
  left: 50%;
}

.adiclub_word.a3 .front {
  font-size: 34px;
}

@media (max-width: 1023px) {
  .adiclub_word.a3 .front {
    font-size: 3vw;
  }
}

.adiclub_word.a4 {
  top: 32%;
  right: 25%;
}

.adiclub_word.a4 .front {
  font-size: 27px;
}

@media (max-width: 1023px) {
  .adiclub_word.a4 .front {
    font-size: 2.5vw;
  }
}

.adiclub_word.a5 {
  top: 17%;
  right: 6%;
}

.adiclub_word.a5 .front {
  font-size: 42px;
}

@media (max-width: 1023px) {
  .adiclub_word.a5 .front {
    font-size: 3.5vw;
  }
}

.adiclub_word.a6 {
  top: 92%;
  left: 15%;
}

.adiclub_word.a6 .front {
  font-size: 50px;
}

@media (max-width: 1023px) {
  .adiclub_word.a6 .front {
    font-size: 4vw;
  }
}

.adiclub_word.a7 {
  top: 75%;
  left: 8%;
}

.adiclub_word.a7 .front {
  font-size: 34px;
}

@media (max-width: 1023px) {
  .adiclub_word.a7 .front {
    font-size: 3vw;
  }
}

.adiclub_word.a8 {
  top: 78%;
  left: 43%;
}

.adiclub_word.a8 .front {
  font-size: 27px;
}

@media (max-width: 1023px) {
  .adiclub_word.a8 .front {
    font-size: 2.5vw;
  }
}

.adiclub_word.a9 {
  top: 95%;
  left: 63%;
}

.adiclub_word.a9 .front {
  font-size: 31px;
}

@media (max-width: 1023px) {
  .adiclub_word.a9 .front {
    font-size: 3vw;
  }
}

.adiclub_word.a10 {
  top: 68%;
  right: 6%;
}

.adiclub_word.a10 .front {
  font-size: 46px;
}

@media (max-width: 1023px) {
  .adiclub_word.a10 .front {
    font-size: 4vw;
  }
}

.adiclub_video-wrap {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 8%;
  background: #fff;
  z-index: 10;
}

@media (max-width: 1023px) {
  .adiclub_video-wrap {
    padding: 0 4%;
  }
}

@media (max-width: 767px) {
  .adiclub_video-wrap {
    display: none;
  }
}

.adiclub_video-wrap video {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .adiclub_video-wrap video {
    display: none;
  }
}

.adiclub_btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease;
}

.adiclub_btn:hover {
  background: #ee265c;
  transform: translateY(-10px);
}

@media (max-width: 1023px) {
  .adiclub_btn {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .adiclub_btn {
    display: none;
  }
}

.adiclub_link {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 150px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 21px;
  text-align: center;
  line-height: 150px;
  transition: 0.3s ease;
  z-index: 30;
}

@media (max-width: 1023px) {
  .adiclub_link {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

@media (max-width: 767px) {
  .adiclub_link {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 200px;
  }
}

.adiclub_link:hover {
  background: #ee265c;
  transform: translateY(-10%);
}

.runner {
  overflow: hidden;
  padding-top: 100px;
}

.runner_headline {
  transform: translateX(50%);
}

.runner_headline p {
  display: inline-block;
  font-size: 160px;
  line-height: 1.2;
  white-space: nowrap;
  font-weight: bold;
}

.runner_headline em {
  color: #ee265c;
}

.runner_cont {
  overflow: hidden;
  position: relative;
  padding: 100px 58% 100px 8%;
  background: #000;
}

.runner_cont::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(../images/bg/runner.jpg) no-repeat center/cover;
}

@media (max-width: 1023px) {
  .runner_cont {
    padding: 100px 4%;
  }
  .runner_cont::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .runner_cont {
    padding-bottom: 50px;
  }
}

.runner_title {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 60px;
  font-weight: normal;
  transition: font-size 0.3s ease;
}

@media (max-width: 599px) {
  .runner_title {
    font-size: 48px;
  }
}

.runner_title em {
  display: block;
  color: #ee265c;
}

.runner_desc {
  padding: 30px 0 70px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  word-break: keep-all;
  transition: font-size 0.5s ease;
}

@media (max-width: 1023px) {
  .runner_desc {
    font-size: 21px;
  }
}

@media (max-width: 599px) {
  .runner_desc {
    font-size: 16px;
  }
}

.runner_desc em {
  display: block;
  padding: 20px 0;
  font-size: 30px;
}

@media (max-width: 599px) {
  .runner_desc em {
    font-size: 21px;
  }
}

.runner_link-more {
  display: block;
  padding: 20px 0;
  background: #fff;
  color: #000;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s ease;
}

.runner_link-more:hover {
  background: #ee265c;
}

.runner_dummy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20;
}

.board {
  overflow: hidden;
}

.board .inr {
  display: flex;
}

@media (max-width: 1023px) {
  .board .inr {
    flex-direction: column;
  }
}

.board_title {
  padding: 0 50px 20px 0;
  font-size: 36px;
}

@media (max-width: 1023px) {
  .board_title {
    padding-right: 0;
  }
}

.board_list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.board_link-more {
  position: absolute;
  bottom: 0;
  left: 8%;
  font-size: 18px;
  transition: color 0.3s ease;
}

.board_link-more:hover {
  color: #ee265c;
}

@media (max-width: 1023px) {
  .board_link-more {
    top: 16px;
    bottom: auto;
    right: 4%;
    left: auto;
  }
}

.company {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .company {
    padding: 100px 0 50px;
  }
}

.company .item {
  width: 25%;
  text-align: center;
}

@media (max-width: 1279px) {
  .company .item {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .company .item {
    width: 100%;
  }
}

.company .item_link {
  display: block;
  position: relative;
  overflow: hidden;
}

.company .item_img {
  display: block;
  width: 100%;
}

.company .item_overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.company .item_overlay::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.company .item_link:hover .item_overlay {
  opacity: 1;
  visibility: visible;
}

.company .item_text {
  display: inline-block;
  vertical-align: middle;
}

.company .item_title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.support {
  padding-bottom: 100px;
}

.support .item {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.support .item + .item {
  margin-top: 5px;
}

.support .item_btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  text-align: center;
  transition: 0.5s ease;
}

@media (max-width: 767px) {
  .support .item_btn {
    font-size: 14px;
  }
}

.support .item_btn:hover {
  background: #000;
  color: #fff;
}

.support .item.on .item_btn {
  background: #000;
  color: #fff;
}

.support .item_detail-area {
  display: none;
}

.support .item_detail {
  border-top: 1px solid #000;
  padding: 20px 40px;
}

@media (max-width: 767px) {
  .support .item_detail {
    padding: 20px;
  }
}

.support .item_desc {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.2;
}

.support .item_desc span {
  display: block;
  margin-bottom: 10px;
}

.support .item_desc .color-red {
  color: #e32b2b;
}
