// footer
.footer{
  padding: 50px 0 20px;
  background: #333;

  @include mobile{
    padding-top: 30px;
  }
}

.f_gnb{
  &_list{
    display: flex;
    justify-content: space-between;

    @include mobile{
      display: block;
      text-align: center;
    }
  }

  &_item{
    @include mobile{
      &+ &{
        margin-top: 10px;
      }
    }
  }

  &_link{
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 5px;

    transition: 0.3s ease;

    &:hover{
      color: #ee265c;
    }
  }
}

.copy{
  margin-top: 100px;
  color: #6e6e6e;
  font-size: 14px;
  text-align: right;

  @include mobile{
    margin-top: 50px;
  }
}