// header
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;

  z-index: 100;

  transition: 0.5s ease;

  @include mobile{
    height: 60px;
  }

  &.hide{
    top: -80px;

    @include mobile{
      top: -60px;
    }
  
  }


  .inr{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  margin-left: 20px;
  &_link{
    display: block;

    &::after{
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background: url(../images/logo/logo.svg) no-repeat center;
    }
  }
}

.navi{
  @include tablet{
    display: none;  
  }
  &_list{
    display: flex;
  }

  .item{
    margin: 0 20px;
    &_link{
      display: block;
      padding: 5px 0;
      
      font-size: 21px;
      line-height: 27px;

      transition: 0.3s ease;

      &:hover{
        color: #ee265c;
      }
    }
  }
}

.btn_open-menu{
  position: relative;
  width: 60px;
  height: 60px;

  .line{
    @include pos-center;
    width: 28px;
    height: 2px;
    background: #000;    

    &:nth-child(1){
      margin-top: -8px;
    }

    &:nth-child(3){
      margin-top: 8px;
    }
  }
}

.menu{
  visibility: hidden;
  position: fixed;
  top: 0; right: -100%;
  width: 100%;
  max-width: 360px;
  height: 100%;
  background: #fff;
  z-index: 999;
  
  transition: 0.5s ease-in-out;

  &.on{
    visibility: visible;
    right: 0
  }
}

.menu_bg{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 998;

  transition: 0.5s ease-in-out;

  &.on{
    opacity: 1;
    visibility: visible;
  }
}

.gnb{
  padding: 80px 20px 20px;

  &_list-02{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,.2);
  }

  .item{
    &_link{
      display: block;
      padding: 5px 0;
      
      font-size: 21px;
      line-height: 27px;

      transition: 0.3s ease;

      &:hover{
        color: #ee265c;
      }
    }
  }

  &_list-01{
    .item_link{
      font-weight: bold;
    }
  }
}

.link-home{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  &::after{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/logo/logo.svg) no-repeat center;
  }
}

.btn_close-menu{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;

  .line{
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: #000;

    &:nth-child(1){
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:nth-child(2){
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}