// home
.main{
  overflow: hidden;
}

.sc_title{
  padding-bottom: 20px;
  
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.1em;
}

.intro{
  position: relative;
  height: 100vh;
  padding-top: 80px;

  @include mobile{
    padding-top: 60px;
  }

  &_title{
    @include pos-center;
    width: 100%;
    
    color: #fff;
    font-size: 48px;  
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5vw;
    white-space: nowrap;

    z-index: 10;
    word-break: keep-all
  }

  &_figure{    
    height: 100%;
    padding: 20px;    
  }
  
  &_figure-inr{
    overflow: hidden;
    position: relative;
    height: 100%;
        
    border-radius: 50px 0 50px 50px;

    &::after{
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.3);
    }
  }

  &_img{
    @include pos-center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// goods
.goods{
  margin-top: 150px;

  &_list{
    display: flex;    
    flex-wrap: wrap;
  }
  
  .item{
    width: 20%;
  
    padding: 20px 10px 20px 30px;

    &:nth-child(-n + 3){
      width: 33.3333%;

      .item_link{
        padding-bottom: 30%;
      }
    }
  
    @include pc{
      width: 25%;
    }
  
    @include tablet{
      width: 33.3333%;

      &:nth-child(-n + 3){  
        .item_link{
          padding-bottom: 100%;
        }
      }
    }
  
    @include mobile{
      width: 50%;

      &:nth-child(-n + 3){
        width: 100%;
  
        .item_link{
          padding-bottom: 30%;
        }
      }    
    }
  
    @include mobile-small{
      width: 100%;

      &:nth-child(-n + 3){  
        .item_link{
          padding-bottom: 100%;
        }
      }
    }
  
    &_link{
      display: block;
      position: relative;
      padding-bottom: 50%;
      
      background: #eceef0;

      @include tablet{        
        padding-bottom: 100%;
      }

      @include mobile{        
        padding-bottom: 65%;
      }

      @include mobile-small{        
        padding-bottom: 100%;
      }
    }
  
    &_tag{
      position: absolute;
      top: 0;
      right: 100%;
  
      line-height: 20px;
      letter-spacing: 0.05em;
      writing-mode: vertical-lr;
      text-orientation: mixed;
    }

    &_figure{
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    &_img{
      @include pos-center;
      height: 100%;
      object-fit: cover;
    }
    
    &_word{
      @include pos-center;
      
      font-family: 'Poppins', 'Noto Sans KR', sans-serif;
      color: #000;
      font-size: 8vw;
      font-weight: bold;
    }
  
    &_overlay{
      opacity: 0;
      visibility: hidden;
  
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      background: rgba(0,0,0,.8);
      text-align: center;
  
      transition: 0.3s ease;
  
      &::before{
        content: ''; 
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  
    &_text{
      display: inline-block;
      vertical-align: middle;   
    }  
    &_name{
      display: block;
      font-family: 'Poppins', 'Noto Sans KR', sans-serif;
      color: #ee265c;
      font-size: 4vw;
      font-weight: bold;
      @include tablet{
        font-size: 10vw;
      }
      @include mobile{
        font-size: 15vw;
      }
      @include mobile-small{
        font-size: 25vw;
      }
    }
    &_more-box{
      overflow: hidden;
    }
    &_more{
      display: block;
      color: #ee265c;
      font-size: 21px;
      letter-spacing: 0.2em;
  
      transform: translateY(100%);
      transition: 0.3s ease 0.1s;
    }
  
    &_link:hover{
      .item_overlay{
        opacity: 1;
        visibility: visible;
      }
  
      .item_more{
        transform: translateY(0%);
      }
    }
  }
}

// adiclub
.adiclub{
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
  height: 100vh;
  min-height: 600px;
  margin-top: 150px;

  @include mobile{
    display: block;
    height: auto;    
    min-height: auto; 
    margin-top: 100px;   
  }

  &_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
  }

  &_title{
    display: block;
    position: relative;

    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-size: 10vw;

    z-index: 1;

    pointer-events: none;

    @include mobile{
      font-size: 32px;
    }

    span{
      color: #ee265c;
      font-weight: bold;
    }
  }

  &_desc{
    display: none;
    padding: 10px 20px;

    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    word-break: keep-all;

    @include mobile{
      display: block;
    }
  }  

  &_words{
    @include mobile{
      display: none;
    }
  }
  
  &_word{
    position: absolute;

    text-align: center;

    .front{
      display: block;
      transform-origin: center;
      backface-visibility: hidden;

      transition: 0.3s ease-in;
    }

    .back{
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 100%;
      
      font-size: 21px;
      line-height: 1.2;
      word-break: keep-all;

      transform: translate(-50%, -50%) rotateY(180deg);
      transform-origin: center;
      backface-visibility: hidden;   
      
      transition: 0.3s ease-in;

      @include tablet{
        width: 250px;
        font-size: 16px;
      }
    }

    &:hover{
      .front{
        transform: rotateY(180deg);
      }
      .back{
        transform: translate(-50%, -50%) rotateY(360deg);
      }
    }

    &.a1{
      top: 15%; left: 4%;
      
      .front{
        font-size: 50px;

        @include tablet{
          font-size: 4vw;
        }
      }
    }
    &.a2{
      top: 33%; left: 30%;
      
      .front{
        font-size: 27px;
        
        @include tablet{
          font-size: 2.5vw;
        }
      }
    }
    &.a3{      
      top: 18%; left: 50%;
      
      .front{
        font-size: 34px;
        
        @include tablet{
          font-size: 3vw;
        }
      }
    }
    &.a4{
      top: 32%; right: 25%;
      
      .front{
        font-size: 27px;
        
        @include tablet{
          font-size: 2.5vw;
        }
      }
    }
    &.a5{
      top: 17%; right: 6%;
      
      .front{
        font-size: 42px;

        @include tablet{
          font-size: 3.5vw;
        }
      }
    }
    &.a6{
      top: 92%; left: 15%;
      
      .front{
        font-size: 50px;

        @include tablet{
          font-size: 4vw;
        }
      }
    }
    &.a7{
      top: 75%; left: 8%;
      
      .front{
        font-size: 34px;

        @include tablet{
          font-size: 3vw;
        }
      }
    }
    &.a8{
      top: 78%; left: 43%;
      
      .front{
        font-size: 27px;

        @include tablet{
          font-size: 2.5vw;
        }
      }
    }
    &.a9{
      top: 95%; left: 63%;
      
      .front{
        font-size: 31px;

        @include tablet{
          font-size: 3vw;
        }
      }
    }
    &.a10{
      top: 68%; right: 6%;
      
      .front{
        font-size: 46px;

        @include tablet{
          font-size: 4vw;
        }
      }
    }

    span{
      display: block;
      font-weight: bold;
    }
  }

  &_video-wrap{
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 20px 20px 140px 20px; 

    background: #fff;

    @include mobile{
      opacity: 1 !important;
      visibility: visible !important;
      position: relative;
      padding: 30px 0 10px;
    }

    video{      
      width: 100%;
      height: auto;
    }

    z-index: 10;
  }

  &_dummy{
    position: absolute;
    bottom: 50px;
    right: 50px;

    width: 50px;
    height: 50px;

    background: #ee265c;
    border-radius: 50%;

    z-index: -1;

    @include mobile{
      display: none;
    }
  }

  &_btn{
    position: absolute;      
    bottom: 20px;
    right: 20px;

    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;

    &:hover{
      background: #ee265c;
      transform: translateY(-10px);      
    }

    @include mobile{
      display: none;
    }
  }

  &_link{
    position: absolute;  
    left: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    
    color: #fff;
    font-size: 21px;
    text-align: center;
    line-height: 100px;
    
    transition: 0.3s ease;

    z-index: 30;
    
    @include mobile{
      display: block;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 10px;
      background: #000;
      border-radius: 0;

      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 1;
    }

    &:hover{
      background: #ee265c;
      transform: translateY(-10px);      

      @include mobile{
        transform: translateY(0);      
      }
    }
  }
}

// runner
.runner{
  overflow: hidden;

  position: relative;
  height: 100vh;
  min-height: 600px;
  
  background: #000 url(../images/bg/runner.jpg) no-repeat center / cover;
  background-attachment: fixed;

  color: #fff;

  &::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
  }

  @include mobile{
    min-height: auto;
    margin-top: 100px;
  }

  .inr{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_text{
    position: relative;
    text-align: center;

    z-index: 10;
  }

  &_title{
    display: inline-block;
    position: relative;

    font-size: 2vw;
    font-weight: normal;    

    transition: 0.5s ease;

    em{
      color: #ee265c;
    }

    @include mobile{
      font-size: 27px;
    }
  }

  &_desc{
    padding: 30px 0 100px; 
    
    font-size: 4vw;
    line-height: 1.2;        
    word-break: keep-all;

    transition: 0.5s ease;
    
    @include mobile{
      font-size: 27px;
    }

    em{
      display: inline-block;
      color: #ee265c;
      font-weight: bold;
      font-size: 8vw;
      transition: fontSize 0.5s;

      @include mobile{
        font-size: 36px;
      }
    }

  }

  &_link{
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    
    color: #000;
    font-size: 21px;
    line-height: 190px;
    font-weight: bold;
    
    transition: 0.5s ease;
    
    &:hover{
      background: #ee265c;
      color: #fff;
      transform: translateY(-20px);
    }

    @include mobile{
      font-size: 16px;
    }
  }

  &_dummy{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20;
  }
}

// company
.company{
  margin: 100px 0;
  
  .inr{
    display: flex;
  
    @include tablet{
      flex-direction: column;
    }
  }

  &_title{
    align-self: start;
    padding-right: 50px;    
    @include tablet{
      padding-right: 0;
    }
  }

  &_list{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .item{
    width: 25%;
    text-align: center;

    @include pc{
      width: 50%;
    }

    @include mobile-middle{
      width: 100%;
    }

    &_link{
      display: block;
      position: relative;
      overflow: hidden;
    }
  
    &_img{
      display: block;
      width: 100%;
    }
  
    &_overlay{  
      opacity: 0;
      visibility: hidden;

      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.8);

      text-align: center;

      z-index: 1;

      transition: 0.3s ease-in-out;

      &::before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }

    &_link:hover{
      .item_overlay{
        opacity: 1;
        visibility: visible;
      }
    }
  
    &_text{
      display: inline-block;
      vertical-align: middle;      
    }
    
    &_title{
      color: #fff;
      font-size: 24px;      
      font-weight: bold;
    }
  }
}

// support
.support{
  margin-bottom: 100px;
  
  .inr{
    display: flex;
  
    @include tablet{
      flex-direction: column;
    }
  }

  &_title{
    align-self: start;
    padding-right: 50px;   
    @include tablet{
      padding-right: 0;
    }
  }

  &_list{
    flex: 1;
  }

  .item{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    & + .item{
      margin-top: 5px;
    }

    &_btn{
      display: block;
      position: relative;
      width: 100%;
      padding: 20px;

      font-size: 18px;
      text-align: left;
      text-align: center;

      transition: 0.5s ease;

      @include mobile{
        font-size: 14px;
      }
    }

    &_detail-area{
      display: none;
    }  

    &_detail{
      border-top: 1px solid #000;
      padding: 20px 40px;

      @include mobile{
        padding: 20px;
      }
    }

    &_desc{
      padding: 10px 0; 
      
      font-size: 14px;
      line-height: 1.2;
      span{
        display: block;
        margin-bottom: 10px;
      }

      .color-red{
        color: #e32b2b;
      }
    }
  }
}